@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* BODY STYLING 
   ========================== */
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* WRAPPER
   ========================== */
.wrapper {
  max-width: 1360px;
  width: 80%;
  margin: 0 auto;
}

body,
button,input,textarea {
 font-family: "Poppins", sans-serif; 
}

.form-group, 
.gender-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.gender-button { 
  width: 70%;
  justify-content: flex-start;
  margin:0; 
}

.border{ border:1.8px solid #000; }
.red-border{ border:1.8px solid #e74c36; }
.green-border{ border:1.8px solid #2ecc71; }
.red-text{ color:red }
.green-text{ color: #2ecc71}

span{
  font-size: 9.5px;
  display: none;
}

/*=================================
  main styling starts here
=================================*/


/* form styling starts here
   ========================== */
.form-container {
  width: 80%;
  margin: 70px auto 0;
  border: 1.8px solid #000;
}

form {
  width: 70%;
  margin: 20px auto;
  border: 1.8px solid #000;
  padding: 20px 70px;
}

form label { margin-right: 30px; }

.input-box{
  width: 70%;
}
input[type="text"], #address{
  width: 100%;
  resize: none;
  padding: 5px;
  outline: none;
}

input[type="radio"], input[type="checkbox"]{
 margin: 0 15px 0px 0px;
 transform: scale(1.4);
}

#address { height: 100px; }
.align-left { justify-content: flex-start; }

button {
 font-size: 15px;
 padding: 1px 20px;
 outline: none;
 border: 1.6px solid #000;
 background-color: transparent;
}

.display,
.display-box { 
 width: 100%;  
}

.display { margin-bottom: 20px; }
.display-box { display: flex; }
.display-box:first-child { font-weight: 600; }

.display-box li {
    width: 15.8%;
    text-align: center;
    border: 1px solid #000; 
    margin:0;
    border-right: transparent;
    padding: 5px 10px;
}

.display-box li:last-child { border-right: 1px solid #000;  }

.display-box .btn{
  color: #000;
  background: #989090;
  padding: 2px 20px;
  border: 1.5px solid #000;
}

.buttons{  text-align:center; }
.input-box.error  input{ border-color:#e74c36; }
.input-box.error  span{ color:#e74c36; }
.input-box.success  input{ border-color:#2ecc71; }
.input-box.success  span{ color:#2ecc71; }


